QMenu
{
	color: #B0C0D0;
	font-family: "Xiomara";
	font-weight: bold;
	font-size: 14px;

	background: #708090;
	border: 3px double  #506070;	
}

QMenu::item:selected
{
	color: #FFFFFF;
	background: #405060;
}